node_modules
.nyc_output
coverage
*.log
package-lock.json
/packages/sequelize-transparent-cache-ioredis/dist
/packages/sequelize-transparent-cache/dist
/packages/sequelize-transparent-cache-variable/dist
/examples/redis-mysql/dist
